<div class="login" *ngIf="register==false">
    <div class="loginElems">
        <h1>Login</h1>
    </div>
    
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup loginElems">
            <span class="p-inputgroup-addon ">Username:</span>
            <input type="email" pInputText [(ngModel)]="email" class="p-inputtext-lg" placeholder="username">
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="p-inputgroup loginElems">
            <span class="p-inputgroup-addon p-inputtext-lg">Password:</span>
            <input type="password" pPassword [(ngModel)]="password" [feedback]="false" placeholder="password">
        </div>
    </div>

    <div class="loginElems">
        <button pButton type="submit" label="Submit" class="p-button-info button" (click)="onSubmit()"></button>
        <button pButton type="button" label="Register" class="p-button-secondary button"
            (click)="register=true"></button>
    </div>
</div>
<div *ngIf="register==true">

</div>

<div class="register" *ngIf="register==true">
    <div class="registerElems">
        <h1>Register</h1>
    </div>
    <form [formGroup]="staffMember" class="registerElems" (ngSubmit)="registerStaff()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="email">Email</label>
                <input type="email" pInputText formControlName="email" required>
            </div>
            <div class="p-field">
                <label for="firstName">First Name</label>
                <input type="text" pInputText formControlName="firstName" required>
            </div>
            <div class="p-field">
                <label for="lastName">Last Name</label>
                <input type="text" pInputText formControlName="lastName" required>
            </div>
            <div class="p-field">
                <label for="type">Type of user</label>
                <p-dropdown [options]="types"  optionValue="value" optionLabel="label" placeholder="Select a Type"  formControlName="type" required></p-dropdown>
            </div>
            <div class="p-field">
                <label for="phone">Phone</label>
                <input type="number" pInputText formControlName="phone" required>
               <!--- <p-inputMask mask="(999) 999-9999" formControlName="phone" required></p-inputMask>-->
            </div>
            <div class="p-field">
                <label for="bipperExtension">Bipper Extension</label>
                <input type="number" pInputText formControlName="bipperExtension" required>
            </div>
            <div class="p-field">
                <label for="password">Password</label>
                <input type="password" pPassword formControlName="password" required/>
            </div>
        </div>
        <div class="registerElems">
            <button pButton label="Submit" class="p-button-info button" type="submit"
                [disabled]="!staffMember.valid"></button>

            <button pButton type="button" label="Cancel" class="p-button-secondary button"
                (click)="cancel()"></button>
        </div>

    </form>



</div>