<div class="container">
    <div [hidden]="submitted">
      <h1>Patient Form</h1>
      <form #Registerpatient="ngForm" (ngSubmit)="onSubmit()" >
          
        <div class="form-group">
          <label for="firstName">Name*</label>
          <input type="text" class="form-control" id="firstName"
                #firstName="ngModel"
                pattern="[a-zA-z ]+"
                 required
                 [(ngModel)]="model.firstName" name="firstName"
                 >

            <div *ngIf="firstName.invalid && (firstName.dirty)"
                    class="alert alert-danger">

                <div *ngIf="firstName.errors.required">
                    Name is required.
                </div>

                <div *ngIf="firstName.errors.pattern">
                    Name only has letter.
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name*</label>
            <input type="text" class="form-control" id="lastName"
                    #lastName="ngModel"
                    pattern="[a-zA-z ]+"
                    required
                    [(ngModel)]="model.lastName" name="lastName"
                    >

            <div *ngIf="lastName.invalid && (lastName.dirty)"
            class="alert alert-danger">

                <div *ngIf="lastName.errors.required">
                    Last Name is required.
                </div>

                <div *ngIf="lastName.errors.pattern">
                    Last Name only has letter.
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="insuranceNumber">Insurance*<Address></Address></label>
            <input type="number" class="form-control" id="insuranceNumber"
                    #insuranceNumber="ngModel"
                    pattern="[0-9]+"
                    required
                    [(ngModel)]="model.insuranceNumber" name="insuranceNumber"
                    >

            <div *ngIf="insuranceNumber.invalid && (insuranceNumber.dirty)"
                class="alert alert-danger">

                <div *ngIf="insuranceNumber.errors.required">
                    Insurance Number is required.
                </div>

                <div *ngIf="insuranceNumber.errors.pattern">
                    Name only has numbers.
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="address">Address*</label>
            <input type="text" class="form-control" id="address"
                    #address="ngModel"
                    pattern="[a-zA-z 0-9.]+"
                    required
                    [(ngModel)]="model.address" name="address"
                    >

            <div *ngIf="address.invalid && (address.dirty)"
                class="alert alert-danger">

                <div *ngIf="address.errors.required">
                    Address is required.
                </div>
                <div *ngIf="address.errors.pattern">
                    Address badly Formated.
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number* (XXXXXXXXXX)</label>
            <input type=number class="form-control" id="phoneNumber"
                    #phoneNumber="ngModel"
                    pattern="[0-9]{10}"
                    required
                    [(ngModel)]="model.phoneNumber" name="phoneNumber"
                    >

            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty)"
                class="alert alert-danger">

                <div *ngIf="phoneNumber.errors.required">
                    Phone Number is required.
                </div>
                <div *ngIf="phoneNumber.errors.pattern">
                    Phone Number badly formated.
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth (dd/mm/yyyy)*</label>
            <input type="text" class="form-control" id="dateOfBirth"
                    #dateOfBirth="ngModel"
                    pattern="[0-3]{1}[0-9]{1}[/]{1}[0-1]{1}[0-9]{1}[/]{1}[1-2]{1}[0-9]{1}[0-9]{1}[0-9]{1}"
                    required
                    [(ngModel)]="model.dateOfBirth" name="dateOfBirth"
                    >
            <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty)"
                class="alert alert-danger">

                <div *ngIf="dateOfBirth.errors.required">
                    Date of birth is required.
                </div>
                <div *ngIf="dateOfBirth.errors.pattern">
                    Date of birth badly formated.
                </div>
                
            </div>

        </div>

        <div class="form-group">
            <label for="gender">Gender*</label>
            <select type="text" class="form-control" id="gender"
                    required
                    [(ngModel)]="model.gender" name="gender"
                    #gender="ngModel">
            <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="maritalStatus">Marital Status*</label>
            <select type="text" class="form-control" id="maritalStatus"
                    required
                    [(ngModel)]="model.maritalStatus" name="maritalStatus"
                    #maritalStatus="ngModel">
            <option *ngFor="let mar of maritalsStatus" [value]="mar">{{mar}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="externalDoctor">External Doctor Name</label>
            <input type="text" class="form-control" id="externalDoctor"
                    [(ngModel)]="model.externalDoctor" name="externalDoctor"
                    #externalDoctor="ngModel"
                    pattern="[a-zA-z ]+"
                    >
            
            <div *ngIf="externalDoctor.invalid && (externalDoctor.dirty )"
                class="alert alert-danger">


                <div *ngIf="externalDoctor.errors.pattern">
                    Name only has letter.
                </div>
                
            </div>
        </div>

        <div class="form-group">
            <label for="nextOfKin">??Next of KIN??</label>
            <input type="text" class="form-control" id="nextOfKin"
                    [(ngModel)]="model.nextOfKin" name="nextOfKin"
                    >
        </div>

        <div class="form-group">
            <label for="privateInsuranceNumber">Private Insurance Number</label>
            <input type="number" class="form-control" id="privateInsuranceNumber"
                    [(ngModel)]="model.privateInsuranceNumber" name="privateInsuranceNumber"
                    >
        </div>
  
        <button type="submit" class="btn btn-success" >Submit</button>
      </form>
    </div>
</div>
  
