<img class="leftHalf" src="assets\THAMSHALF.png">
<div class="rightHalf">

    <h3  class="title" >Informations on Roles</h3>
    <p-panel  class="elems" header="Staff">
        <p>Staff memebers are able to consult patients, register patients and update the file of patients</p>
    </p-panel>
    <p-panel  class="elems" header="Medical Staff">
        <p>Medical Staff have the same roles as staff members</p>
    </p-panel>
    <p-panel class="elems" header="Charge Nurse">
        <p>Charge Nurse have the same permissions as staff members, but are also able to request patient admissions,
            admit patients and view divisions. They are also the only members that can discharge patients when
            consulting a patient file </p>
    </p-panel>
    <p-panel  class="elems" header="Doctor">
        <p>Doctors have the same permissions as staffs, but are able to prescribe medication by consulting a patient
            file</p>
    </p-panel>


</div>