.leftHalf {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    margin-top: -20px;
 }

 @media (max-width: 800px) 
{
    .leftHalf
    {
        display: none;
    }
}

.rightHalf {

    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
 }

 .elems{
     zoom:1.5;
     padding:10px;
     font-family: 'Courier New', Courier, monospace;
 }

 .title{
    zoom:1.5;
    margin-top: 5vw;
    margin-left:5px;
}

