<img class="leftHalf" src="assets/images/THAMSHALF.png">
<div class="rightHalf">

    <h1 class="title">Information on Roles</h1>

    <h2>Staff</h2>
    <p>Staff memebers are able to consult patients, register patients and update the file of patients</p>

    <h2>Medical Staff</h2>
    <p>Medical Staff have the same roles as staff members</p>

    <h2>Charge Nurse</h2>
    <p>Charge Nurse have the same permissions as staff members, but are also able to request patient admissions,
        admit patients and view divisions. They are also the only members that can discharge patients when
        consulting a patient file </p>

    <h2>Doctor</h2>
    <p>Doctors have the same permissions as staffs, but are able to prescribe medications</p>


</div>