.consult{
    margin-top: 2vw;
    padding-top:2vw;
    padding-right: 20vw;
    padding-left: 20vw;
    min-width: 250px;
    zoom:1.2;
}

.elems{
    padding:5px;
    width:100%;
    height:auto;

}

.button{ 
    margin-right:3px;
}