<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">THAMS</a>
      </div>
      <ul *ngIf="isChargeNurse()" class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li><a class="nav-link" routerLink="app-consultpatient">Consult Patient File</a></li>
        <li><a class="nav-link" routerLink="app-registerpatient">Register Patient</a></li>
        <li><a class="nav-link" routerLink="app-requestpatient">Request Patient Admission</a></li>
        <li><a class="nav-link" routerLink="app-admitpatient">Admit Patient</a></li>
        <li><a class="nav-link" routerLink="app-division">View Division</a></li>
      </ul>
      <ul *ngIf="!isChargeNurse()" class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li><a class="nav-link" routerLink="app-consultpatient">Consult Patient File</a></li>
        <li><a class="nav-link" routerLink="app-registerpatient">Register Patient</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-item">{{name}} ({{type}})</a> </li>
        <li><a class="nav-link" routerLink="loginpage"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>