.consult{
    margin-top: 2vw;
    padding-top:2vw;
    padding-right: 20vw;
    padding-left: 20vw;
    min-width: 250px;
    zoom:1.2;
}


.lab{
    font-size: large;
    font-weight: 400;
}



.title{
    font-size: 30px;
    margin-left: 20px;
    margin-top:5px;
    font-family: sans-serif;
}

.right-button{
    margin-left: 5px;;
}


.product-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

    .product-list-detail {
        flex: 1 1 0;
    }

    .product-list-action {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        vertical-align: middle;
        line-height: 1;
    }
    .pElems{
        padding:5px;
        width:100%;
        height:auto;
    
    }

    .top{
        margin-top: 10px;
    }

    .line{
        position: relative;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        border-bottom: 1px solid #7A7A7A;
    }