<div class="p-inputgroup consult">
  <span class="p-inputgroup-addon ">Enter an ID:</span>
  <input type="number" [(ngModel)]="id" pInputText class="p-inputtext-sm" placeholder="id">
  <button pButton type="button" pRipple label="Search" (click)="findPatient()" class="p-button-success"></button>
</div>
<div *ngIf="submitted==true && edit==false" class="consult">
  <p-card styleClass="p-card-shadow ">
    <p-header>
      <label class="title">File of patient {{patient.firstName}}</label>
    </p-header>
    <div class="p-fluid">
      <div class="p-field" *ngIf="patient.firstName!=null">
        <label class="lab">First Name: {{patient.firstName}}</label>
      </div>
      <div class="p-field" *ngIf="patient.lastName!=null">
        <label class="lab">Last Name: {{patient.lastName}}</label>
      </div>
      <div class="p-field" *ngIf="patient.insuranceNumber!=null">
        <label class="lab">Insurance number: {{patient.insuranceNumber}}</label>
      </div>
      <div class="p-field" *ngIf="patient.address!=null">
        <label class="lab">Address: {{patient.address}}</label>
      </div>
      <div class="p-field" *ngIf="patient.phoneNumber!=null">
        <label class="lab">Phone: {{patient.phoneNumber}}</label>
      </div>
      <div class="p-field" *ngIf="patient.dateOfBirth!=null">
        <label class="lab">Date of Birth: {{patient.dateOfBirth | date:"MM/dd/yy"}}</label>
      </div>
      <div class="p-field" *ngIf="patient.gender!=null">
        <label class="lab">Gender: {{patient.gender}}</label>
      </div>
      <div class="p-field" *ngIf="patient.maritalStatus!=null">
        <label class="lab">Marital Status: {{patient.maritalStatus}}</label>
      </div>
      <div class="p-field" *ngIf="patient.externalDoctor!=null">
        <label class="lab">External Doctor: {{patient.externalDoctor}}</label>
      </div>
      <div class="p-field" *ngIf="patient.nextOfKin!=null">
        <label class="lab">Next of Kin: {{patient.nextOfKin}}</label>
      </div>
      <div class="p-field" *ngIf="patient.privateInsuranceNumber!=null">
        <label class="lab">Private Insurance Number: {{patient.privateInsuranceNumber}}</label>
      </div>
      <div class="p-field" *ngIf="patient.roomNumber!=null">
        <label class="lab">Room Number: {{patient.roomNumber}}</label>
      </div>
      <div class="p-field" *ngIf="patient.bedNumber!=null">
        <label class="lab">Bed Number: {{patient.bedNumber}}</label>
      </div>
      <div class="p-field" *ngIf="patient.isAdmitted!=null">
        <label class="lab" *ngIf="patient.isAdmitted==true">Is this patient admitted: yes</label>
        <label class="lab" *ngIf="patient.isAdmitted==false">Is this patient admitted: no</label>
      </div>
      <div class="p-field" *ngIf="patient.divisionId!=null">
        <label class="lab">Division Id: {{patient.divisionId}}</label>
      </div>
      <div class="p-field" *ngIf="patient.createdAt!=null">
        <label class="lab">Account created on: {{patient.createdAt}}</label>
      </div>
      <div class="p-field" *ngIf="patient.updatedAt!=null">
        <label class="lab">Account updated on: {{patient.updatedAt}}</label>
      </div>
      <div class="p-field" *ngIf="prescriptions!=null">
        <label class="lab"><h3>Prescriptions</h3></label>
      </div>
      
      <div class="p-field" *ngFor="let prescription of prescriptions">
        <div class="line"></div>
        <div class="p-field">
          <label class="lab">Name: {{prescription.name}}</label>
        </div>
        <div class="p-field">
          <label class="lab">Units per Day: {{prescription.unitsPerDay}}</label>
        </div>
        <div class="p-field">
          <label class="lab">Administrations per Day {{prescription.numAdministrationsPerDay}}</label>
        </div>
        <div class="p-field">
          <label class="lab">Method of Administration: {{prescription.methodOfAdministration}}</label>
        </div>
        <div class="p-field">
          <label class="lab">Start Date {{prescription.startDate | date:"MM/dd/yy"}}</label>
        </div>
        <div class="p-field">
          <label class="lab">End Date {{prescription.endDate | date:"MM/dd/yy"}}</label>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Update File" icon="pi pi-user-edit" (click)="edit=true"></p-button>
      <span *ngIf="isNurseAndAdmitted()">
        <p-button class="right-button" label="Discharge" icon="pi pi-sign-out" styleClass="p-button-help"></p-button>
      </span>
    </ng-template>
  </p-card>
</div>


<div *ngIf="submitted==true && edit==true" class="consult">
  <p-card styleClass="p-card-shadow ">
    <p-header>
      <label class="title">File of patient {{patient.firstName}}</label>
    </p-header>
    <div class="p-fluid">
      <div class="p-inputgroup" *ngIf="patient.firstName!=null">
        <label class="lab">First Name: </label>
        <input type="text" pInputText [(ngModel)]="updatePatient.firstName" />
      </div>
      <div class="p-inputgroup" *ngIf="patient.lastName!=null">
        <label class="lab">Last Name: </label>
        <input type="text" pInputText [(ngModel)]="updatePatient.lastName"/>
      </div>
      <div class="p-inputgroup" *ngIf="patient.insuranceNumber!=null">
        <label class="lab">Insurance number: </label>
        <input type="number" pInputText [(ngModel)]="updatePatient.insuranceNumber" />
      </div>
      <div class="p-inputgroup" *ngIf="patient.address!=null">
        <label class="lab">Address: </label>
        <input type="text" pInputText [(ngModel)]="updatePatient.address" placeholder=patient.address />
      </div>
      <div  class="p-field p-grid" *ngIf="patient.phoneNumber!=null">
        <label class="lab p-col-12 p-mb-2 p-md-2 p-mb-md-0">Phone: </label>
        <div class="p-col-12 p-md-10">
        <p-inputMask mask="(999) 999-9999" [(ngModel)]="updatePatient.phoneNumber" placeholder=patient.phoneNumber></p-inputMask></div>
      </div>
      <div class="p-inputgroup" *ngIf="patient.dateOfBirth!=null">
        <label class="lab">Date of Birth (Permanant): {{patient.dateOfBirth | date:"MM/dd/yy"}} </label>
      </div>
      <div class="p-inputgroup" *ngIf="patient.gender!=null">
        <label class="lab">Gender: </label>
        <p-dropdown [options]="genders" optionValue="value" [(ngModel)]="updatePatient.gender" optionLabel="label"
          placeholder=patient.gender></p-dropdown>
      </div>
      <div class="p-inputgroup" *ngIf="patient.maritalStatus!=null">
        <label class="lab">Marital Status: </label>
        <p-dropdown [options]="maritals" optionValue="value" [(ngModel)]="updatePatient.maritalStatus"
          placeholder=patient.maritalStatus optionLabel="label"></p-dropdown>
      </div>
      <div class="p-inputgroup" *ngIf="patient.externalDoctor!=null">
        <label class="lab">External Doctor: </label>
        <input type="text" pInputText [(ngModel)]="updatePatient.externalDoctor" />
      </div>
      <div class="p-inputgroup" *ngIf="patient.nextOfKin!=null">
        <label class="lab">Next of Kin: </label>
        <input type="text" pInputText [(ngModel)]="updatePatient.nextOfKin" />
      </div>
      <div class="p-inputgroup" *ngIf="patient.privateInsuranceNumber!=null">
        <label class="lab">Private Insurance Number: </label>
        <input type="number" pInputText [(ngModel)]="updatePatient.privateInsuranceNumber" />
      </div>
      <div class="p-inputgroup" *ngIf="patient.roomNumber!=null">
        <label class="lab">Room Number: {{patient.roomNumber}}</label>
      </div>
      <div class="p-inputgroup" *ngIf="patient.bedNumber!=null">
        <label class="lab">Bed Number: {{patient.bedNumber}}</label>
      </div>
      <div class="p-inputgroup" *ngIf="patient.isAdmitted!=null">
        <label class="lab" *ngIf="patient.isAdmitted==true">Is this patient admitted: yes</label>
        <label class="lab" *ngIf="patient.isAdmitted==false">Is this patient admitted: no</label>
      </div>
      <div class="p-inputgroup" *ngIf="patient.divisionId!=null">
        <label class="lab">Division Id: {{patient.divisionId}}</label>
      </div>
      <div class="p-inputgroup" *ngIf="patient.createdAt!=null">
        <label class="lab">Account created on: {{patient.createdAt}}</label>
      </div>
      <div class="p-inputgroup" *ngIf="patient.updatedAt!=null">
        <label class="lab">Account updated on: {{patient.updatedAt}}</label>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Submit Update" icon="pi pi-check" styleClass="p-button-success" (click)="updatePatientInfo()">
      </p-button>
      <p-button label="Cancel" (click)="edit=false" icon="pi pi-times" class="right-button"
        styleClass="p-button-secondary">
      </p-button>
    </ng-template>
  </p-card>
</div>